/* Otimização para CCSP */

.menu_vermelho{
	color: #FFF;
    background: #bd0000;
    text-align: bottom;
    margin-top: 10px;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
	font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    line-height: 1.66666667;
	padding-left: 15%;
}

.menu_vermelho a:hover{
    border-bottom: 1px solid #FFF !important; /* Or whatever color you want */
    text-decoration: none;

}	
